.clock {
    & .countdown {
        position: relative;
        /* border: 1px solid red; */
    }
}

.am-pm-indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--clockcoloncolor);
}

@media screen and (max-width: 600px) {
    .am-pm-indicator {
        position: absolute;
        top: 100%;
        transform: translateY(0%) translateX(50%);
        right: 50%;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--clockcoloncolor);
    }
}