:root {
  --clockwidth: 80px;
  /* 100px default */
  --clockheight: 110px;
  /* 110px default */
  --clockinnergap: 10px;
  /* 10px default */
  --clockfontsize: 5.94em/107px;
  /* 5.94em/107px default */
}

/* Dark and Light Theme Variables */
.whole.dark {
  --backgroundColor: #121212;
  --color-surface: #1e1e1e;
  --color-primary: #bb86fc;
  --color-primary-variant: #3700b3;
  --color-secondary: #03dac6;
  --color-secondary-variant: #018786;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b0b0b0;
  --color-text-placeholder: #888888;
  --color-error: #cf6679;
  --clockColor: white;
  --clockBackground: rgb(71, 70, 70);
  --clockrotatebackground: rgb(61, 61, 61);
  --clockbordercolor: rgba(255, 255, 255, 0.2);
}

.whole.light {
  --backgroundColor: #ffffff;
  --color-surface: #f2f2f2;
  --color-primary: #6200ea;
  --color-primary-variant: #3700b3;
  --color-secondary: #03dac6;
  --color-text-primary: #000000;
  --color-text-secondary: #333333;
  --color-error: #b00020;
  --clockColor: #de4848;
  --clockBackground: #f7f7f7;
  --clockrotatebackground: #fff;
  --clockbordercolor: rgba(0, 0, 0, 0.2);
}
/* Global Body Styles */
body {
  background: var(--backgroundColor);
  color: var(--color-text-primary);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

